<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find a Job</title>
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body>
<header>
<div class="header-contents"><h1>歡迎來到人資網站</h1></div>

</header>
    <form method='post' action= "{{ url_for('submit') }}">
            <div class="col-md-5">
                <br>
              <label for="category" class="form-label" style="font-size:0.6cm;">請問要搜尋甚麼職業名稱</label>
              <select class="form-select" id="category" required>
                     <option value = '客服╱門市╱業務╱貿易類' vt = '0' data-i = '0'>客服╱門市╱業務╱貿易類</option>
                     <option value = '財會╱金融專業類'       vt = '1' data-i = '1'>財會╱金融專業類</option>
                     <option value = '操作╱技術╱維修類'      vt = '2' data-i = '2'>操作╱技術╱維修類</option>
                     <option value = '餐飲╱旅遊 ╱美容美髮類' vt = '3' data-i = '3'>餐飲╱旅遊 ╱美容美髮類</option>
                     <option value = '生產製造╱品管╱環衛類'  vt = '4' data-i = '4'>生產製造╱品管╱環衛類</option>
                     <option value = '經營╱人資類'           vt = '5' data-i = '5'>經營╱人資類</option>
                     <option value = '文字╱傳媒工作類'       vt = '6' data-i = '6'>文字╱傳媒工作類</option>
                     <option value = '資訊軟體系統類'        vt = '7' data-i = '7'>資訊軟體系統類</option>
                     <option value = '資材╱物流╱運輸類'      vt = '8' data-i = '8'>資材╱物流╱運輸類</option>
                     <option value = '醫療╱保健服務類'       vt = '9' data-i = '9'>醫療╱保健服務類</option>
                     <option value = '行銷╱企劃╱專案管理類'  vt = '10' data-i = '10'>行銷╱企劃╱專案管理類</option>
                     <option value = '研發相關類'            vt = '11' data-i = '11'>研發相關類</option>
                     <option value = '行政╱總務╱法務類'      vt = '12' data-i = '12'>行政╱總務╱法務類</option>
                     <option value = '傳播藝術╱設計類'       vt = '13' data-i = '13'>傳播藝術╱設計類</option>
                     <option value = '軍警消╱保全類'         vt = '14' data-i = '14'>軍警消╱保全類</option>
                     <option value = '營建╱製圖類'           vt = '15' data-i = '15'>營建╱製圖類</option>
                     <option value = '學術╱教育╱輔導類'      vt = '16' data-i = '16'>學術╱教育╱輔導類</option>
                     <option value = '其他職類'              vt = '17' data-i = '17'>其他職類</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>
         <br>
            <div class="col-md-5">
              <label for="zip" class="form-label">請問要搜尋甚麼職業名稱</label>
              <input type="text" class="form-control" id="zip" placeholder="Ex:資料分析師" required>
              <div class="invalid-feedback">
                請填寫必要欄位
              </div>
            </div>
        <div class="col-md-5">
            <label for="area" class="form-label" style="font-size:0.6cm;">請問您想求職的縣市區域?</label>
              <select class="form-select" id="area" required>
                     <option value = '台北市' vt = '0' data-i = '0'>台北市</option>
                     <option value = '基隆市' vt = '1' data-i = '1'>基隆市</option>
                     <option value = '新北市' vt = '2' data-i = '2'>新北市</option>
                     <option value = '桃園市' vt = '3' data-i = '3'>桃園市</option>
                     <option value = '新竹市' vt = '4' data-i = '4'>新竹市</option>
                     <option value = '苗栗縣' vt = '5' data-i = '5'>苗栗縣</option>
                     <option value = '台中市' vt = '6' data-i = '6'>台中市</option>
                     <option value = '南投縣' vt = '7' data-i = '7'>南投縣</option>
                     <option value = '彰化縣' vt = '8' data-i = '8'>彰化縣</option>
                     <option value = '雲林縣' vt = '9' data-i = '9'>雲林縣</option>
                     <option value = '嘉義縣' vt = '10' data-i = '10'>嘉義縣</option>
                     <option value = '台南市' vt = '11' data-i = '11'>台南市</option>
                     <option value = '高雄市' vt = '12' data-i = '12'>高雄市</option>
                     <option value = '屏東縣' vt = '13' data-i = '13'>屏東縣</option>
                     <option value = '宜蘭縣' vt = '14' data-i = '14'>宜蘭縣</option>
                     <option value = '花蓮縣' vt = '15' data-i = '15'>花蓮縣</option>
                     <option value = '台東縣' vt = '16' data-i = '16'>台東縣</option>
                     <option value = '澎湖縣' vt = '17' data-i = '17'>澎湖縣</option>
                     <option value = '連江縣' vt = '18' data-i = '18'>連江縣</option>
                     <option value = '金門縣' vt = '19' data-i = '19'>金門縣</option>
                   </select></p>
            </div>
            <div class="col-md-5">
                <label for="years" class="form-label" style="font-size:0.6cm;">請問您在此工作類型的年資為幾年?</label>
                <select class="form-select" id="years" required>
                     <option value = '0' vt = '0' data-i = '0'>無經驗</option>
                     <option value = '0-1年' vt = '1' data-i = '1'>0-1年</option>
                     <option value = '1-2年' vt = '2' data-i = '2'>1-2年</option>
                     <option value = '2-3年' vt = '3' data-i = '3'>2-3年</option>
                     <option value = '3年以上' vt = '4' data-i = '4'>3年以上</option>
                   </select>

               <p><label>請輸入您的工作內容?</label>
               <p><textarea style="font-size:16px;padding:10px"  name="work"   placeholder="請詳述您的工作經歷或附上您的履歷" rows="12" cols="100" required></textarea></p>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit">確認送出</button>
                <br>
            </div>
    </form>
</body>
</html>