<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find workers</title>
</head>
<body>
    <h1> 歡迎來到履歷中心 </h1>
    <form method='post' action= "{{ url_for('submit') }}">
         <br>
                <p><label>請問您徵求的職業名稱?</label></p>
                <p><input type = 'textbox'  style="font-size:16px;padding:10px"  name = 'title' placeholder="Ex:資料分析師"></p>
                <br>

               <br>
               <p><label>請問此職缺所需的專業或任何需求條件?</label>
               <p><textarea style="font-size:16px;padding:10px"  name="skill"   placeholder="Ex:Python程式、R語言等..." rows="10" cols="80" required></textarea></p>
               <br>
               <p><label>請詳述給求職者貴職缺的工作內容:</label>
               <p><textarea style="font-size:16px;padding:10px"  name="detail"   placeholder="Ex:1. 測試客戶端應用程式與系統平台，參與需求討論，與部門合作，了解使用者對產品的需求以及使用方式..." rows="20" cols="90" required></textarea></p>
               <br>
               <p><button type = 'submit' style="background-color:#C2C2FF">確認送出</button></p>
                        <table style="border:3px #cccccc solid;" cellpadding="10" border='1'>

                        <thead>
                            <th style="font-size:26px">編號:</th>
                            <th style="font-size:26px">適合的履歷有:</th>
                        </thead>
                        <tbody>
                            {% for (i,url) in L %}

                               <tr>
                                   <td>{{ i }}</td>
                                   <td><a href="{{url}}" target="_blank" style="font-size:20px" class = 'html-ex bare'>{{ url }}</a></td>
                               </tr>
                            {% endfor%}

                        </tbody>
                    </table>
    </form>

</body>
</html>